img.userimg {
    height: 24px;
    margin-right: 5px;
    border-radius: 50%;
}

.header{

    margin: unset;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    a{  
        &:hover{
            cursor: pointer;
        }
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 12%;
        }
    }
    
}
.nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
   .auth{
    
   }
    ul{
        margin: unset;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        a{ all: unset; color: white;
        
        &:hover{
            background-color: rgb(51, 51, 51);
        }
        };
        li{
            
            padding: 15px;
            margin: 0px 10px;
            cursor: pointer;
            &:hover{
                background-color: rgb(51, 51, 51);
            }
            
        }
    }
}